body {
    font-family: "Open Sans", sans-serif;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block {
    background-color: white;
    box-shadow: 5px 5px black;
    padding: 10px;
    margin: 30px 30px 0px 30px;
    border-radius: 2px;
}

nav.block {
    margin-top: 10px;
}

header, main h2 {
    text-align: center;
    color: #313a40;
    font-family: 'Staatliches', cursive;
    font-size: 36px;
    line-height: 0;
    text-shadow: 2px 1px grey;
}


nav {
    font-family: 'Staatliches', cursive;
}

main.block p {
    margin: 0px 30px 30px 30px;
}

footer {
    text-align: center;
    clear: both;
}

nav a {
    color: #313a40;
    text-decoration: none;
    font-size: 30px;
}

#wrapper {
    margin: 40px;
    min-width: 200px;
    min-height: 400px;
}

div.row {
    display: table;
    width: 100%;
    table-layout: fixed;
}
div.row .cell {
    display: table-cell;
    text-align: center;
}

p {
    margin: 0px 50px 0px 50px;
}

#contact:after {
    content: 'Carter Brehm';
}
#contact:hover:after {
    content: 'crbrehm@mail.mccneb.edu';
}

#building {
    width: 400px;
    height: 250px;
    border-radius: 50%;
    float: left;
    shape-outside: ellipse();
    margin-right: 15px;
    margin-left: 15px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item {
    margin: 5px;
}

a {
    color: black;
}

video {
    height: 25%;
    width: 25%;
    margin-bottom: 25px;
    float: left;
}

#inline {
    display: inline;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    #wrapper {
        margin: 0px;
    }

    header {
        font-size: 24px;
    }

    nav a {
        font-size: 18px;
    }

    .block {
        margin: 10px 0px 0px 0px;
    }

    p {
        margin: inherit;
    }

    #building {
        width: 400px;
        height: 250px;
        border-radius: unset;
        float: unset;
        shape-outside: unset;
    }

    main {
        text-align: center;
    }
}